doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' charset='utf-8')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css' charset='utf-8')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' charset='utf-8')
    script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' charset='utf-8')
    // Moment.js
    //script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/locale/ru.js' charset='utf-8')
    //script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js' charset='utf-8')
    // Socket.IO
    //script(type='text/javascript' src='https://cdn.socket.io/socket.io-1.4.5.js')
    //<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    link(rel='stylesheet', href='/css/style.css' charset='utf-8')
  body
    include ./partials/menu.jade

    #content-view.container
      .row
      block content

    include ./partials/footer.jade